input.form-control {
    margin-bottom: 5px;
}

body {
    padding-top: 65px;
}

.navbar-primary {
    background-color: #3E8ACC;
}

.navbar-primary a:link {
    color: white;
}

.navbar-primary a:visited {
    color: white;
}

.navbar-primary a:hover {
    color: #23527C;
}