<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Widgets</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../css/style.css" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a class="navbar-link" href="#/user/:uid/website/:wid/page/:pid/widget/new">
                <span class="glyphicon glyphicon-plus"></span>
            </a>
        </div>
        <div class="navbar-text pull-left">
            <a class="navbar-link" href="#/user/:uid/website/:wid/page">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Widgets</a>
        </div>
    </div>
</nav>

<div class="container-fluid">

    <div ng-repeat="page in model.pages"  class="container-fluid">
        <h4>
            <a href="#/user/:uid/website/:wid/page/:pid/widget">{{page.name}}</a>
            <a href="#/user/:uid/website/:wid/page/:pid" class="pull-right"><span class="glyphicon glyphicon-cog"></span></a>
        </h4>
    </div>

    <div ng-repeat="widget in model.widgets">
        <div class="widget-toolbar">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{widget._id}}">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
            <span class="glyphicon glyphicon-menu-hamburger"></span>
        </div>
        <div ng-switch="widget.widgetType">
            <div ng-switch-when="HEADING">
                <ng-include src="'views/widget/templates/widget-heading.view.client.html'"></ng-include>
            </div>
            <div ng-switch-when="IMAGE">
                <ng-include src="'views/widget/templates/widget-image.view.client.html'"></ng-include>
            </div>
            <div ng-switch-when="YOUTUBE">
                <ng-include src="'views/widget/templates/widget-youtube.view.client.html'"></ng-include>
            </div>
        </div>
    </div>

    <div>
        <div class="widget-toolbar">
            <a href="widget-image.view.client.html">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
            <span class="glyphicon glyphicon-menu-hamburger"></span>
        </div>
        <img width="100%" src="https://i.reddituploads.com/fa0637fb18d141bf83dadcd8d4a31866?fit=max&h=1536&w=1536&s=9562579db52a94422ce532debbfaf9a9">
    </div>
    <div>
        <div class="widget-toolbar">
            <a>
                <span class="glyphicon glyphicon-cog"></span>
            </a>
            <span class="glyphicon glyphicon-menu-hamburger"></span>
        </div>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. <br></p>
    </div>
    <div>
        <div class="widget-toolbar">
            <a href="widget-youtube.view.client.html">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
            <span class="glyphicon glyphicon-menu-hamburger"></span>
        </div>
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/8EuyySqI3EA" frameborder="0" allowfullscreen></iframe>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a href="#/user/:uid">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>

</body>
</html>