<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Select Widget</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../css/style.css" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-left">
            <a class="navbar-link" href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Choose Widget</a>
        </div>
    </div>
</nav>


<div class="container-fluid">
    <div class="container-fluid">
        <h4>
            <a ng-click="model.createWidget(widget, 'HEADING')">Header</a>
        </h4>
    </div>
    <div class="container-fluid">
        <h4>
            <a href="#">Label</a>
        </h4>
    </div>
    <div class="container-fluid">
        <h4>
            <a href="#">HTML</a>
        </h4>
    </div>
    <div class="container-fluid">
        <h4>
            <a href="#">Text Input</a>
        </h4>
    </div>
    <div class="container-fluid">
        <h4>
            <a href="#">Link</a>
        </h4>
    </div>
    <div class="container-fluid">
        <h4>
            <a href="#">Button</a>
        </h4>
    </div>
    <div class="container-fluid">
        <h4>
            <a ng-click="model.createWidget(widget, 'IMAGE')">Image</a>
        </h4>
    </div>
    <div class="container-fluid">
        <h4>
            <a ng-click="model.createWidget(widget, 'YOUTUBE')">YouTube</a>
        </h4>
    </div>
    <div class="container-fluid">
        <h4>
            <a href="#">Data Table</a>
        </h4>
    </div>
    <div class="container-fluid">
        <h4>
            <a href="#">Repeater</a>
        </h4>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a href="#/user/{{model.userId}}">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>

</body>
</html>