<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-left">
            <a class="navbar-link" href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand">Choose Widget</a>
        </div>
    </div>
</nav>


<div class="container-fluid">
    <div class="container-fluid">
        <h4>
            <a ng-click="model.createWidget({}, 'HEADING')">Header</a>
        </h4>
    </div>
    <div class="container-fluid">
        <h4>
            <a href="#">Label</a>
        </h4>
    </div>
    <div class="container-fluid">
        <h4>
            <a href="#">HTML</a>
        </h4>
    </div>
    <div class="container-fluid">
        <h4>
            <a href="#">Text Input</a>
        </h4>
    </div>
    <div class="container-fluid">
        <h4>
            <a href="#">Link</a>
        </h4>
    </div>
    <div class="container-fluid">
        <h4>
            <a href="#">Button</a>
        </h4>
    </div>
    <div class="container-fluid">
        <h4>
            <a ng-click="model.createWidget({}, 'IMAGE')">Image</a>
        </h4>
    </div>
    <div class="container-fluid">
        <h4>
            <a ng-click="model.createWidget({}, 'YOUTUBE')">YouTube</a>
        </h4>
    </div>
    <div class="container-fluid">
        <h4>
            <a href="#">Data Table</a>
        </h4>
    </div>
    <div class="container-fluid">
        <h4>
            <a href="#">Repeater</a>
        </h4>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a href="#/user/{{model.userId}}">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>