<div class="container-fluid">
    <form>
        <div class="form-group">
            <label for="name">Name</label>
            <input ng-model="model.widget.name" type="text" class="form-control" id="name" placeholder="Name">
        </div>
        <div class="form-group">
            <label for="text">Text</label>
            <input ng-model="model.widget.text" type="text" class="form-control" id="text" placeholder="Text">
        </div>
        <div class="form-group">
            <label for="url">URL</label>
            <input ng-model="model.widget.url" type="text" class="form-control" id="url" placeholder="https://i.reddituploads.com/fa0637fb18d141bf83dadcd8d4a31866?fit=max&h=1536&w=1536&s=9562579db52a94422ce532debbfaf9a9">
        </div>
        <div class="form-group">
            <label for="width">Width</label>
            <input ng-model="model.widget.width" type="text" class="form-control" id="width" placeholder="100%" value="100%">
        </div>
        <div class="form-group">
            <label for="upload">Upload</label>
            <input type="file" class="form-control" id="upload" placeholder="No File Chosen">
        </div>
    </form>

    <a class="btn btn-primary btn-block"
       ng-click="model.updateWidget(model.widget)">Upload Image</a>
    <a class="btn btn-danger btn-block"
       ng-click="model.deleteWidget()">Delete</a>
</div>